<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous"> {% load static %}
    <link rel="stylesheet" href="{% static 'ninja_gold_project_app/style.css' %}">
</head>

<body>
    <div class="container">
        <h4>Your Gold: {{request.session.golds}}</h4>
        <div class="row">
            <div class="box">
                <h1>Farm</h1>
                <p>(earns 10-20 golds)</p>
                <form action="/process_money" method="POST">
                    {% csrf_token %}
                <input type="hidden" name="location" value="farm">
                <input type="submit" value="Find Gold!" class="btn btn-default">
                </form>
            </div>
            <div class="box">
                <h1>Cave</h1>
                <p>(earns 5-10 golds)</p>
                <form action="/process_money" method="POST">
                    {% csrf_token %}
                <input type="hidden" name="location" value="cave">
                <input type="submit" value="Find Gold!" class="btn btn-default">
                </form>
            </div>
            <div class="box">
                <h1>House</h1>
                <p>(earns 2-5 golds)</p>
                <form action="/process_money" method="POST">
                    {% csrf_token %}
                <input type="hidden" name="location" value="house">
                <input type="submit" value="Find Gold!" class="btn btn-default">
                </form>
            </div>
            <div class="box">
                <h1>Casino</h1>
                <p>(earns/takes 0-50 golds)</p>
                <form action="/process_money" method="POST">
                    {% csrf_token %}
                <input type="hidden" name="location" value="casino">
                <input type="submit" value="Find Gold!" class="btn btn-default">
                </form>
            </div>
        </div>
        
        <h5>Activities</h5>
            <div class="big-box">
                {% for value in request.session.activity reversed %}
                    {{value|safe}}
                {% endfor %}
            </div>
    </div>
</body>

</html>