h4{
    margin-top: 40px;
}
.box {
    width: 23%;
    text-align: center;
    border: 1px solid black;
    padding: 40px 20px;
    margin: 10px;
}

.btn {
    margin-top: 20px;
}

h5{
    margin-top: 40px;
}
.big-box{
    width: 97%;
    height: 200px;
    border: 1px solid black;
    margin-left: 10px;
    overflow: scroll;
    padding: 10px;
}

.red{
    color: red;
}

.green{
    color: green;
}